*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #CFBFF7;
}
h1{
    background-color: black;
    color: white ;
    text-align: center;
    padding: 20px;


}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}
.box{
    height: 18vmin;
    width: 18vmin;
    margin: 1vmin;
    border-radius: 10%;
background-color: white;
font-size: 8vmin;
color: crimson;

}
.reset-btn{
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10%;
}
.new-btn{
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 27px;
    border-radius: 10%;
   
    ;}
    .msg{
        font-size: 20px;
        margin-top: 10px;
    }
.hide{
    display: none;
}
.msg-container{
    text-align: center;
}